<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


    <head th:replace="fragments :: page_head('Impresores Unidos del Centro', 'none')" />
    <link rel="stylesheet" type="text/css" th:href="@{front/stylesFront.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />

    <style>
        body{ height:100vh; margin:0; }

        header{ min-height:50px; }
        footer{ min-height:50px;  }

        /* Trick */
        body{ 
            display:flex; 
            flex-direction:column; 
        }

        footer{
            margin-top:auto; 
        }
        h1{
            color:#169FDB; 
        }

    </style>

    <body>





        <div th:replace="navigation :: header_menu"></div>




        <section class="py-2">

            <div class="row">

                <div class="col" style="background-color:#169FDB; color: #169FDB;">a</div>
                <div class="col" style="background-color:#CE132D; color: #CE132D;">a</div>
                <div class="col" style="background-color:#FFD000; color: #FFD000;">a</div>
            </div>

        </section>

        <section>

            <div class="container-fluid py-2">
                <h1 class="text-center" style="color:#169FDB;">!Gracias, su mensaje ha sido enviado!</h1>
                <h2 class="text-center" style="color:#169FDB;">Sera contactado en breve.</h2>
            </div>


            <div id="wrapper">
                <div id="outer">
                    <div class="itemwrapper px-4 text-center">
                        <img th:src="@{images/tinta.png}" class="centerCotiza" id="borderCarrusel">
                        <div class="col text-center">
                            <h2 style="color:#FFD000"><a th:href="@{/productos}">Productos disponibles</a></h2>
                        </div>
                    </div>
                    <div class="itemwrapper px-4 text-center">
                        <img th:src="@{images/continuarNavegando.png}" class="centerCotiza" id="borderCarrusel">
                        <div class="col text-center">
                            <h2 style="color:#FFD000"><a th:href="@{front/#productosDispo}">Continuar navegando</a></h2>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <footer id="footer">
            <div th:replace="navigation :: footer_menu"></div>
        </footer>

    </body> 
</html>

