<div th:fragment="modalPapelesInformacion" >
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <section class="py-1">
                    <div class="container-fluid">
                        <div class="row"> 
                            <div class="col" style="background-color:#169FDB; color: #169FDB;">a</div>
                            <div class="col" style="background-color:#CE132D; color: #CE132D;">a</div>
                            <div class="col" style="background-color:#FFD000; color: #FFD000;">a</div>
                        </div>
                    </div>
                </section>

                <div class="modal-header text-center">
                    <h4 class="modal-title w-100" style="color: #169FDB">¡Contactanos para mas información de este producto!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                

                <section class="py-1">
                    <div class="container-fluid">
                        <div class="row"> 
                            <div class="col" style="background-color:#FFD000; color: #FFD000;">a</div>
                            <div class="col" style="background-color:#CE132D; color: #CE132D;">a</div>
                            <div class="col" style="background-color:#169FDB; color: #169FDB;">a</div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>


