<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('My Reviews', 'none')" />
    <style>
        body{ height:100vh; margin:0; }

        header{ min-height:50px; }
        footer{ min-height:50px;  }

        /* Trick */
        body{ 
            display:flex; 
            flex-direction:column; 
        }

        footer{
            margin-top:auto; 
        }
        h1,h2,h3{
            color:#169FDB; 
        }

    </style>




<body>

	<div th:replace="navigation :: header_menu"></div>
        
                    <section class="py-2">
                    <div class="row">
                        <div class="col" style="background-color:#169FDB; color: #169FDB;">a</div>
                        <div class="col" style="background-color:#CE132D; color: #CE132D;">a</div>
                        <div class="col" style="background-color:#FFD000; color: #FFD000;">a</div>
                    </div>
                </section>
        
        
	<!--<div th:replace="navigation :: search_nav"></div>-->
	<div class="text-center py-4">
		<h2>Mis reseñas</h2>	
	</div>
		
	<div th:replace="fragments :: search_form"></div>
	
	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
                    <thead style="background-color: #20B2E5">
				<tr>
					<th th:replace="fragments :: column_link('id', 'ID', 'none')" />
					<th th:replace="fragments :: column_link('product', 'Producto', 'none')" />
					<th th:replace="fragments :: column_link('headline', 'Titulo', 'none')" />
					<th th:replace="fragments :: column_link('rating', 'Calificación', 'none')" />
					<th th:replace="fragments :: column_link('reviewTime', 'Fecha', 'none')" />
					<th></th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="review : ${listReviews}">
					<td>[[${review.id}]]</td>
					<td>
						<a th:href="@{'/p/' + ${review.product.alias}}" target="_blank">
							[[${review.product.shortName}]]
						</a>
					</td>
					<td>[[${review.headline}]]</td>
					<td>[[${review.rating}]] <i class="far fa-star"></i></td>
					<td>[[${review.reviewTime}]]</td>
					<td>
						<a class="fas fa-file-alt fa-2x icon-green link-detail-review"
							th:href="@{'/reviews/detail/' + ${review.id}}"
							title="View details of this review"
							></a>						
					</td>					
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="review : ${listReviews}" class="row m-1">
			<div class="col-2">
				<span>[[${review.id}]]</span>
			</div>
			<div class="col-10">
				<div class="mb-1">
					<span>[[${review.product.shortName}]]</span>
				</div>
				<div>
					&nbsp;
					<span>[[${review.rating}]] <i class="far fa-star"></i></span>
					&nbsp;
					<a class="fas fa-file-alt fa-2x icon-green link-detail-review"
						th:href="@{'/reviews/detail/' + ${review.id}}"
						title="Ver detalles"
						></a>
				</div>
			</div>
			<div>&nbsp;</div>
		</div>	
	</div>		
	
	<div th:replace="fragments :: pagination('/reviews', 'reseñas')"></div>

	<div class="modal fade" id="reviewDetailModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			</div>
		</div>
	</div>	
		
	
        <footer>
            <div th:replace="navigation :: footer_menu"></div>
        </footer>

	
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/reviews}]]";

	$(document).ready(function() {
		handleDetailLink(".link-detail-review", "#reviewDetailModal");
	});
</script>
</body>
</html>