

.container {
  position : relative;
  width : 80%;
  display : flex;
  align-items : center;
  justify-content : center;
  flex-warp : warp;
  padding : 30px;  
}

.container .card {
  position: relative;
  max-width : 300px;
  height : 215px;  
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container .card:hover {
  height : 320px;    
}


.container .card .image {
  position : relative;
  width : 260px;
  height : 260px;
  
  top : -40%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.container .card .image img {
  max-width : 100%;
  border-radius : 15px;
}

.container .card .content {
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}

.container .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}





.circle-blue{
  height: 250px;
  width: 250px;
  background-color: #85CFE7;
  border-radius: 50%;
}

/*
body{
       background-image: url(th:src="@{/images/cotizador/testFondo.png}");
      background-size: 100%;
      

}*/


summary{
    
    font-weight: bold;
    
}


form{
    
     margin-left: 80px;
     margin-right: 80px;
    
    
}



#radios{ 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#imagenFormaEtiqueta:hover{
    background-color: #20B2E5;
    
}

/* IMAGE STYLES */
#radios + img {
  cursor: pointer;
}

/* CHECKED STYLES */
#radios:checked + img {
  outline: 2px solid #20B2E5;
}


#imagenFormaEtiqueta{
    width: 70%;
    height: 70%;
    
}


.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;
  min-width: 10rem;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}


.esquinas{
    
  
  background: white; 
  box-shadow: 10px 10px 5px lightgray;
  width: 100%;
    
}


#seccionesFormulario{
    
  background: white; 
  box-shadow: 10px 10px 5px lightgray;
    
    
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 15px;
  background: #FFD000;
  width: 0%;
}

