<div class="modal-header">
	<h4 class="modal-title">Detalles del producto:</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Resúmen</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#description" role="tab">Descripción</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#images" role="tab">Imagenes</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#details" role="tab">Detalles</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#shipping" role="tab">Envio</a>
	  </li>		  
	</ul>
	
	<div class="tab-content">
	  <div class="tab-pane active p-3" id="overview" role="tabpanel">
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Nombre del producto:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:value="${product.name}" readonly />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Alias:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:value="${product.alias}" readonly />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Marca:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:value="${product.brand.name}" readonly />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Categoria:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:value="${product.category.name}" readonly />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Enabled:</label>
			<div class="col-sm-10">
				<input type="checkbox" th:checked="${product.enabled}" onclick="return false;" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Disponibilidad:</label>
			<div class="col-sm-10">
				<input type="checkbox" th:checked="${product.inStock}" onclick="return false;" />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Costo:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:value="${product.cost}" readonly />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Precio:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:value="${product.price}" readonly />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Descuento:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:value="${product.discountPercent}" readonly />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Hora actualizada:</label>
			<div class="col-sm-10">
				<span th:text="${#dates.format(product.updatedTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
			</div>
		</div>			  	
	  </div>
	  <div class="tab-pane" id="description" role="tabpanel">
		<div th:replace="products/product_description_read_only :: content"></div>	  
	  </div>
	  <div class="tab-pane" id="images" role="tabpanel">
		<div th:replace="products/product_images_read_only :: content"></div>
	  </div>
	  <div class="tab-pane p-3" id="details" role="tabpanel">
		<div th:replace="products/product_details_read_only :: content"></div>
	  </div>
	  <div class="tab-pane p-3" id="shipping" role="tabpanel">
		<div th:replace="products/product_shipping_read_only :: content"></div>
	  </div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
</div>